{% load static %}
{% for message in messages %}
<h5 style="color: red;">{{message}}</h5>
{% endfor %}
<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title>Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/login_style.css' %}">
  <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
  <link href="{% static 'https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' %}" rel='stylesheet' type='text/css'>  
  <link href="{% static 'https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' %}" rel='stylesheet' type='text/css'> 
  <script src="{% static 'https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js' %}"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body class="body">
	
<div class="login-page">
  <div class="form">

    <form action ="register" method ="POST">
      {% csrf_token %}
      <h1 style="font-size: xx-large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:#36454F;"> Silahkan Register </h1>
      <input type="text" name ="username" placeholder="&#xf007;  username"/>
      <input type="password" name ="password" placeholder="&#xf023;  password"/>
      <input type="email" name ="email" placeholder="&#xf0e0;  email"/>
      <label for=""> Masuk sebagai:</label>
      <select id="option" name="role">
        <option value="seller" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">SELLER</option>
        <option value="users" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">USERS</option>
    </select>
      <i class="fas fa-eye" onclick="show()"></i> 
      <br>
      <br>
      <button type="submit">REGISTER</button>
      <p class="message"></p>
    </form>
  </div>
</div>

</body>
</html>

